<?php

/* Configuratie voor generate.php */

$SSLDir = '/etc/apache2/certificates/';
$genericSSLKey = $SSLDir . 'server-name.key';
$genericSSLCert = $SSLDir . 'server-name.crt';

$vhostsPath = '/home/%1$s/vhosts';
$websitePath = '/home/%1$s/vhosts/%2$s';

$apacheVhostDir = '/etc/apache2/sites-available/';
$vhostFile = 'vhost-users.conf';
$FPMPoolsFile = '/etc/php/7.2/fpm/pool.d/users.conf';
$FPMMaxChildren = 8;

$vhosts = [
    'username' => [
        //'allow' => 'whitelist', // uses whitelist.txt
        //'defaultIP' => '95.170.75.8',
        'vhosts' => [
            'vhost-domain.nl' => ['target' => 'vhost-dirname', 'port' => 80],
            //'vhost-extended.nl' => [
            //  'target' => 'vhost-dirname2',
            //  'IP' => '127.0.0.1',
            //  'ports' => [80, 443],
            //  'aliases' => ['www.ietsanders.nl', 'iets.anders.nl'],
            //  'allow' => '192.168.0.0/24', 
            //  'sslCert' => '/path/to/ssl.crt',
            //  'sslKey' => '/path/to/ssl.key',
            //  'customConfig' => [
            //      'RewriteEngine On',
            //      'RewriteRule ...',
            //  ],
            //],
        ],
    ],
];
